#meteoroid {
  width: 1066px;
  height: 600px;
  margin: 10px auto 25px auto;
  position: relative;
}

.button-container {
  margin: 10px auto;
}

h4 {
  color: white;
  position: absolute;
  top: 0;
  right: 15px;
}

p {
  color: white;
  position: absolute;
  bottom: 0;
  right: 15px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
