<template name="meteoroid">
  <div class="container-fluid">
    <div class="row text-center">
      <h1>Score: {{score}}</h1>
      <div id="meteoroid">
        <p>SHIFT to cycle through weapons</p>
      </div>
      <div class="button-container">
        <button id="levelOne" class="btn btn-success">Level One</button>
        <button id="levelTwo" class="btn btn-warning">Level Two</button>
        <button id="levelThree" class="btn btn-danger">Level Three</button>
      </div>
    </div>
  </div>
</template>
