<template name="meteoroid">
  <div class="container-fluid">
    {{> loginButtons}}
    <div class="row text-center">
      <div id="meteoroid">
        <h4>Score: {{score}}</h4>
        <p>SHIFT to cycle through weapons <br>
          SELECTED: {{{weapon}}}
        </p>
      </div>
      <div class="button-container">
        <button id="levelOne" class="btn btn-success">Level One</button>
        <button id="levelTwo" class="btn btn-warning">Level Two</button>
        <button id="levelThree" class="btn btn-danger">Level Three</button>
        <button id="levelFour" class= "btn btn-info">Level Four</button>
      </div>
      
      <br>
      <h3>Top Ten</h3>
      <table align="center" class="gridtable">
        <tr>
          <th>Username</th>
          <th>Score</th>
        </tr>
        {{#each scoreboard}}
          {{> board}}
        {{/each}}
      </table>
    </div>
    
  </div>
</template>

<template name="board">
  <tr>
    <td>{{_id}}</td>
    <td>{{score}}</td>
  </tr>
</template>
